
body {
    position: relative;
    margin: 0;
    height: auto;
    display: block;
    font-size: medium;
    overflow-x: hidden;
}

body * {
    font-family: 'Raleway', 'Times';
}

/* Attach this class to an element if you don't want the text to be able to be selected */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

/* Makes the wrapper span the whole page */
.wrapper {
    height: 100%;
    width: 100%;
}

/* Adjusting the style for the navigation bar on the side */
.sidenav {
    height: 100%;
    min-width: 150px;
    width: 17vw;
    z-index: 2;
    overflow-y: scroll;
    position: fixed;
    background-color: lightblue;
    scrollbar-color: rgb(110, 110, 110) rgb(124, 155, 165);
}

/* Adjusting the scrollbar for firefox that doesn't support the scrollbar-color style */
.sidenav::-webkit-scrollbar {
    
    background-color: rgb(110, 110, 110);
}


/* Adjusting everything directly under the sidenav to have some padding on the sides */
.sidenav > * {
    padding-left: 1em;
    padding-right: 1em;
}

/* Styles the links under the sidenav */
.sidenav a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: large;
    text-align: left;
    text-decoration: none;
    color: black;
    border-bottom: solid 1px black;
}

/* Adds a nice background for when hovering over the links */
.sidenav a:hover {
    background-image: linear-gradient(to right, white, lightblue);
}

/* Changes the font size */
.sidenav > h2 {
    font-size: 22px;
}

/* Makes the top navigation bar a nice style */
.topnav {
    position: fixed;
    height: auto;
    margin-left: 17vw;
    margin-left: max(17vw, 150px);
    width: calc(100% - 17vw);
    background-color: lightblue;
}

/* Makes everything directly under the topnav to stick to the top */
.topnav > * {
    vertical-align: top;
}

/* Styles the buttons redirecting you to different pages */
.sitebutton {
    border: none;
    padding: 2vh 3vw;
    display: inline-block;
    font-size: larger;
    height: 100%;
    text-decoration: none;
    color: black;
    background-color: lightblue;
    cursor: pointer;
}

/*  Changes the style for hovering over a sitebutton, and keeps it on the button that has the current id
    which i assign to the link to the current page */
.sitebutton:hover, #current {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
}

/* Makes the content div fit to the page relative to the other navigation bars */
.content {
    margin-left: 17vw;
    margin-left: max(17vw, 150px);
    background-image: linear-gradient(to bottom right, white, lightblue);
    float: left;
    width: calc(100% - 17vw);
    width: calc(100% - max(17vw, 150px));
    margin-top: calc(1.65em + 4vh);
    min-height: 100vh;
}

/* Changes the style of the wikipedia style box of information on carbon dioxide */
.infobox {
    padding: 0.3em;
    display: inline-block;
    border: 2px solid white;
    width: 90%;
    border: solid black 1px;
}

/* Styles images directly under this box */
.infobox > img {
    display: block;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Styles headers directly under the infobox */
.infobox > h2 {
    text-align: center;
}

/* Styles my wikipediastyle table */
.infotable {
    width: 100%;
    border-color: rgb(240, 104, 42);
    border-collapse: collapse;
}

/* Changes the styles for everything under the table */
.infotable * {
    font-family: sans-serif;
    border-collapse: collapse;
}

.infotable th {
    text-align: center;
}

.infotable td, th{
    border: 1px solid black; 
    border-collapse: collapse;
}

/* Makes a standard for how a section in the content grid should look like */
.infosection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    margin-top: 3vh;
}

/* Makes everything directly under the section stick to the top */
.infosection > * {
    vertical-align: top;
    margin: auto;
}

/* Makes a standard for a textbox */
.textbox {
    display: inline-block;
    width: 90%;
    padding: 3px;
    height: auto;
    text-align: justify;
}

/* Changes the headers under a textbox */
.textbox > h2 {
    text-align: center;
}

.rubrik {
    text-align: center;
}

/* Makes a standard for how images should look like under sections */
.picstyle {
    width: 90%;
    height: auto;
    margin: auto;
}

/* Makes a standard for how information squares should look like */
.funfact {
    width: 70%;
    height: auto;
    border: rgb(255, 92, 119) solid;
    padding: 6px;
    border-width: 6px;
    border-radius: 8px;
    margin: auto;
}

.funfact {
    text-align: center;
}

.funfact > h1 {
    font-size: larger;
}


/* Specialized styling for specific elements */
#vadfinns {
    margin-top: 2vh;
}

#halsa {
    margin-top: 5vw;
}

#psyktext {
    margin-top: auto;
    margin-bottom: auto;
}

#viewreg {
    display: none;
    padding: 0;
    margin-left: 5px;
    height: 0;
}

#viewreg:focus {
    outline:0;
    background-color: transparent;
    border: 0;
}

#viewreg > div {
    width: 80%;
    height: 11%;
    background-color: black;
    margin: 13% auto;   
}

#cookiesPopup {
    display: none;
    z-index: 9001;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 92, 119);
}

#cookiesPopup > * {
    display: inline-block;
}

/* Styles the popup button */
#cookiesPopup > button {
    left: 10vw;
    margin-top: auto;
    margin-left: auto;
    height: 7vh;
    border-radius: 0;
    border-style: solid;
    border-color: black;
    background-color: lightblue;
    cursor: pointer;
}